* {
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38d4ec;
}

.calculatorBody {
  height: 700px;
  width: 500px;
  border: solid black 10px;
  flex-flow: column;
  background-color: black;
  border-radius: 7px;
  gap: 10px;
}

#screen {
  height: 150px;
  width: auto;
  background-color: rgb(188, 188, 188);
  border-radius: 7px;
  border: solid;
  text-align: right;
  line-height: 144px;
  font-size: 6.5rem;
  padding-right: 30px;
  padding-left: 30px;
  overflow-x: scroll;
}

#btns {
  height: 530px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;

}

button {
  flex: 1;
  font-size: 2rem;
  border-radius: 7px;
  border: solid;
  
}

#zero {
  flex: 2 1 auto;
}

.num {
  background-color: rgb(25, 127, 230);
}

.num:active {
  background-color: rgb(123, 189, 255);
}

.sign {
  background-color: rgb(36, 195, 153);
}

.sign:focus {
  background-color: rgb(126, 255, 221)
}

.aux {
  background-color: rgb(244, 170, 60);
}

.aux:active {
  background-color: rgb(255, 222, 174);
}

#equals {
  background-color: rgb(36, 195, 153);
}

#equals:active {
  background-color: rgb(126, 255, 221);
}